<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--解决中文乱码-->
    <title>匿名广场</title>
    <!--<link rel="stylesheet" href="/css/main.css" />-->
</head>
<body>
<p th:text="${mood_01}">default message</p>  <!--获取后台文字信息-->
<h1>this is a test, as you know</h1>
</body>
</html>