<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <link rel="stylesheet" href="../../static/css/chat.css" type="text/css">
    <script type="text/javascript" src="../../static/js/chat.js"></script>
</head>
<body>

<div class="all">

    <div class="chat_index">
        <!--banner-->
<h1><a href="chat-index.html">退出</a></h1>
        <div class="chat_banner">
 
        </div>
     
        <div class="chat_body">
            <!--在线列表-->
            <!--聊天界面-->
            <div class="chat_main">
                       
                <div class="chat_div">
                    <ul id="chat_ul" class="chat_content">
 
                    </ul>
 
                </div>
 
                <div class="send_message">
                    <form>
                        <input type="text" placeholder="请输入消息" id="send_txt">
                        <input type="button" value="发送" id="send_btn">
                    </form>
                </div>
            </div>
            <!--名片-->

        </div>
 
    </div>
</div>
</body>
</html>