<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index-style.css" charset="utf-8" />
    <link rel="stylesheet"  type="text/css" href="../../static/css/bootstrap.min.css"  charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/forum.js"></script>
    <script>
        //文档就绪函数
        $(function () {
            //按钮点击事件
            $("#btn1").click(function () {
                var uid;
                $.ajax({
                    type: "GET",
                    url: "/getname",
                    data: {},
                    datatype: "string",
                    success: function (data) {
                        uid=data;
                        var node = "<div style='padding-right:150px; padding-left:150px;padding-top: 10px;' class='respond'><article class='format-standard type-post hentry clearfix'><div style='width: 100%' class='content'><div style='width: 95%;float: right;padding-left: 0px'><p id='bbs-content'>"+$("#txt").val()+"</p></div><div class='d_author' style='width: 5%'><ul class='user'><li class='icon'><div><a style='' class='p_author'><img username='用户' width='100%' class='usericon' src='../static/images/forum1.jpg'/></a></div></li><li class='username' style='text-align: center;font-size: 18px;'><a href='javascript:void(0)'>"+uid+"</a></li></ul></div></div></article><hr></div>";
                        $("#reply").append(node);
                        $("#txt").val("点击回复");
                    }
                })

            });
        });
        $(function(){
            $("#good").click(function(){
                var number=$("#good").html();
                number=number+1;
                $("#good").val(number);
            })
        })
    </script>
    <style type="text/css">
        #bbs-content{padding-left: 150px;padding-right: 150px;font-size: 20px;}
        #bbs-title{text-align: center;color: #000000;}
        .s li{   background-color: #ffffff;   padding: 10px 16px; border: solid 1px #D9D9D9;  float: left;   list-style: none;   color:#FFFFFF; }
        #thread_types{padding-left: 150px;}
    </style>
</head>

<body onload="replayLoading()">

<!--滑动框-->
<div id="myCarousel" class=" carousel slide   "  >

    <ol class="carousel-indicators" >
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner " >
        <div class="item active " >
            <div  class="jumbotron text-center" style=" width:100%;height:100%;background:url(../../static/images/index-1.png)" > <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
        <div class="item">
            <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-2.png)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
        <div class="item">
            <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-3.jpg)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"> </span>
    </a>
</div>

<!--选择栏-->
<nav class="navbar navbar-inverse">
    <div class="6">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="index">主页</a></li>
                <li class="active" ><a href="forum">论坛</a></li>
                <li><a href="chat">匿名群聊</a></li>
            </ul>
        </div>
    </div>
</nav>

<hr>
<!-- 主贴区域-->
<div id="mainForum" style="padding-right:150px; padding-left:150px;padding-top: 10px;">

</div>

<!--回复区域-->
<div id="reply">

</div>




<!--回复按钮区域-->
<div align="center">
    <!--写回复区-->
    <input id="txt" style="height: 200px;width: 600px;font-size: 18px;text-align: center;" value	="点击回复" onClick="javascript:this.value='' " ></input>

    <script type="text/javascript" src="../static/jquery-3.4.1/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.cookie.js"></script>
    <script>

        function test(mood,str,answerer) {
            console.log(mood);
            console.log(str);
           // console.log(answerer);
            $.ajax({
                type:"POST",
                url:"/publishMoodMessageReply?MoodMessageContent="+mood+"&parentId="+str+"&answerer="+answerer,
                data:{},
                datatype:"string",
                success:function(data){
                    //alert(data);
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            })
        }
        function mo(){
            var uname='';
            $.ajax({
                type: "GET",
                url: "/getname",
                data: {},
                async:false,
                datatype: "string",
                success: function (data) {
                    uname =data;
                }
            });
            // alert(uname);
            return uname;
        }

        function pos() {
            var answerer = mo();
            //console.log(answerer);
            var mood = $("#txt").val();
            var udid ;
            //var m = JSON.parse(answerer);
            $.ajax({
                type: "GET",
                url: "/getid",
                data: {},
                datatype: "string",
                success: function (data) {
                    udid=data;
                    test(mood,udid,answerer);
                   // alert(udid);
                }
            });
        }

    </script>

    <!--提交按钮-->
    <input id="btn1" type="submit" onclick="pos()" value="发表" style="height:70px;width: 130px;font-size: 20px;color: #FFFFFF;background: #439EFF" />
</div>


<div class="jumbotron text-center" style="margin-bottom:0">
    <p>底部内容</p>
    <p><a href="../../welcome/welcome.html">退出登录</a></p>
</div>

</body>
</html>