<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index-style.css" charset="utf-8" />
    <link rel="stylesheet"  type="text/css" href="../../static/css/bootstrap.min.css"  charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>

    <script>
        //文档就绪函数
        $(function () {
            //按钮点击事件
            $("#btn1").click(function () {
                var node = "<div style='padding-right:150px; padding-left:150px;padding-top: 10px;' class='respond'><article class='format-standard type-post hentry clearfix'><div style='width: 100%' class='content'><div style='width: 95%;float: right;padding-left: 0px'><p id='bbs-content'>"+$("#txt").val()+"</p></div><div class='d_author' style='width: 5%'><ul class='user'><li class='icon'><div><a style='' class='p_author'><img username='用户' width='100%' class='usericon' src='../static/images/forum1.jpg'/></a></div></li><li class='username' style='text-align: center;font-size: 18px;'><a href='javascript:void(0)'>用户</a></li></ul></div></div></article><hr></div>";
                $("#reply").append(node);
                $("#txt").val("点击回复");
            });
        });
        $(function(){
            $("#good").click(function(){
                var number=$("#good").html();
                number=number+1;
                $("#good").val(number);
            })
        })
    </script>
    <style type="text/css">
        #bbs-content{padding-left: 150px;padding-right: 150px;font-size: 20px;}
        #bbs-title{text-align: center;color: #000000;}
        .s li{   background-color: #ffffff;   padding: 10px 16px; border: solid 1px #D9D9D9;  float: left;   list-style: none;   color:#FFFFFF; }
        #thread_types{padding-left: 150px;}
    </style>
</head>

<body>

<!--滑动框-->
<div id="myCarousel" class=" carousel slide   "  >

    <ol class="carousel-indicators" >
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner " >
        <div class="item active " >
            <div  class="jumbotron text-center" style=" width:100%;height:100%;background:url(../../static/images/index-1.png)" > <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
        <div class="item">
            <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-2.png)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
        <div class="item">
            <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-3.jpg)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"> </span>
    </a>
</div>

<!--选择栏-->
<nav class="navbar navbar-inverse">
    <div class="6">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="index">主页</a></li>
                <li class="active" ><a href="forum">论坛</a></li>
                <li><a href="chat">匿名群聊</a></li>
            </ul>
        </div>
    </div>
</nav>

<hr>
<!-- 主贴区域-->
<div style="padding-right:150px; padding-left:150px;padding-top: 10px;">
    <article class="format-standard type-post hentry clearfix content">

        <h1 class="post-mian-title" id="bbs-title" >
            <a href="javascript:void(0);">新生必看的福利贴！！！满满的都是福利鸭</a>
        </h1>
        <div style="width: 100%">
            <div style="width: 95%;float: right;padding-left: 0px">

                <p id="bbs-content">即日起（8月7日）西北工业大学智慧迎新系统已经全面开放，各位新生注意登陆智慧迎新系统完善自己的入学报名相关信息，智慧迎新系统网址如下：http://yingxin.nwpu.edu.cn具体操作流程不太熟悉的同学可以进群欢迎加入西工大智慧迎新群，群聊号码：884533711，对于大家的问题我们会尽力解答.

                <p id="bbs-content">新生校园网福利套餐：西工大为新生准备了惊喜的校园网福利，新生可以直接在进入迎新系统后左侧电信业务中办理线上选号，19元的西工大校园电信卡套餐每个月不仅有40g定向流量、2g全国流量，而且还赠送四年每个月10g校园网流量（敲重点wifi有线均可使用），相当于一个月19元就有西工大52g的流量额度，同时还有超低价10元15g的校内流量加油包供大家享用!（每天线上预定的名额只有100个嗷，小可爱们快快行动起来吧）</p>
            </div>

            <div class="d_author" style="width: 5%">
                <ul class="user">

                    <li class="icon">
                        <div>
                            <a style="" class="p_author"><img username="NPU官方" width="100%" class="usericon" id="test" src="../../static/images/forum1.jpg"/></a>
                        </div>
                    </li>
                    <li class="username" style="text-align: center;font-size: 18px;">

                        <a href="javascript:void(0)">NPU官方</a>

                    </li>

                </ul>
            </div>
        </div>
        <div class="post-meta clearfix" id="bbs-label" style="float: right">
            <span class="date">2019.8.29 11：51</span>
            <span class="category"><a href="#" >校园资源</a></span>
            <span class="like-count"><a href="" id="good">66</a></span>
        </div>
    </article>
    <hr>
</div>

<!--回复区域-->
<div id="reply">

</div>

<!--回复按钮区域-->
<div align="center">
    <!--写回复区-->
    <input id="txt" style="height: 200px;width: 600px;font-size: 18px;text-align: center;" value	="点击回复" onClick="javascript:this.value='' " ></input>

    <!--提交按钮-->
    <input id="btn1" type="button" value="发表" style="height:70px;width: 130px;font-size: 20px;color: #FFFFFF;background: #439EFF" />
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
    <p>底部内容</p>
    <p><a href="../../welcome/welcome.html">退出登录</a></p>
</div>

</body>
</html>