<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>论坛</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet"  type="text/css" href="/../static/css/index-style.css"  charset="utf-8"/>
    <link rel="stylesheet"  type="text/css" href="/../static/css/bootstrap.min.css"  charset="utf-8"/>
    <link rel='stylesheet' id='main-css-css'  href='/../static/css/main5152.css' type='text/css' media='all' />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/forum.js"></script>

    <style type="text/css">
        .s li{   background-color: #ffffff;   padding: 10px 16px; border: solid 1px #D9D9D9;  float: left;   list-style: none;   color:#FFFFFF; }
        #thread_types{padding-left: 150px;}
    </style>
</head>

<body onload="loading()">
<div id="myCarousel" class=" carousel slide   "  >

    <ol class="carousel-indicators" >
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner " >
        <div class="item active " >
            <div  class="jumbotron text-center" style=" width:100%;height:100%;background:url(../../static/images/index-1.png)" > <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
        <div class="item">
            <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-2.png)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
        <div class="item">
            <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-3.jpg)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"> </span>
    </a>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="index">主页</a></li>
                <li class="active"><a href="forum">论坛</a></li>
                <li><a href="chat">匿名群聊</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="row">
<div class="col-md-5">
    <ul id="thread_types" class="s" >
        <li><a href="#">全部</a></li>
        <li><a href="#">校园资源</a></li>
        <li><a href="#">休闲娱乐</a></li>
        <li><a href="#">校园吐槽</a></li>
    </ul>
</div>
<div class="col-md-4  pull-right    ">
    <a href="" ><button class="btn btn-primary" onclick="">发帖</button></a>
</div>
<br>
</div>
<div>

  <!-- 整个容器-->
    <div class="container" id="container" style="padding-right:150px; padding-left:150px;padding-top: 10px;">
        <!--一个帖子-->
        <div class="box" name="box">
            <article class="format-standard type-post hentry clearfix" ground>


                <h3 class="post-title" id="bbs-title">
                   <a href="#">新生必看的福利贴！！！满满的都是福利鸭 </a>
                </h3>

                <div class="post-meta clearfix" id="bbs-label">
                    <span class="date">2019.8.29 11：51</span>
                    <span class="category"><a href="#"></a> 校园资源</span>
                    <span class="like-count">66</span>
                </div>

                <p id="bbs-main-content">即日起（8月7日）西北工业大学智慧迎新系统已经全面开放，各位新生注意登陆智慧迎新系统完善自己的入学报名相关信息，智慧迎新系统网址如下：http://yingxin.nwpu.edu.cn具体操作流程不太熟悉的同学可以进群欢迎加入西工大智慧迎新群，群聊号码：884533711，对于大家的问题我们会尽力解答 . . . <a class="readmore-link" href="#" id="bbs-readmore">更多</a></p>

            </article>
            <hr>
        </div>






    </div>

    <div style="width: 100%">
        <div id="pages"  style="width: 69%;float: left;padding-left: 520px"></div>
        <div id="moment" style="width: 31%;float:left"></div>
    </div>
    <br>
    <br>
    <br>
    <br>
</div>
<h1><blockquote><a href="index">返回首页   </a><a href="#top">返回顶部</a></blockquote></h1>


</body>
</html>
