<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../static/css/index-style.css" charset="utf-8" />
    <link rel="stylesheet"  type="text/css" href="../../static/css/bootstrap.min.css"  charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>

    <script src="../../static/js/swiper.js"></script>
    <link rel="stylesheet" type="text/css"  href="../../static/css/font_680193_mlx1ll180gc1h5mi.css">
    <link rel="stylesheet" type="text/css"  href="../../static/css/swiper.css">
    <link rel="stylesheet" type="text/css"  href="../../static/css/editor.css">
    <link rel="stylesheet" type="text/css"  href="../../static/css/chrome.css">

</head>

<body>

<!--滑动框-->
    <div id="myCarousel" class=" carousel slide   "  >

        <ol class="carousel-indicators" >
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner " >
            <div class="item active " >
                <div  class="jumbotron text-center" style=" width:100%;height:100%;background:url(../../static/images/index-1.png)" > <h1 ><font color=#ffffff>NPU Chat Website</font></h1></div>
            </div>
            <div class="item">
                <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-2.png)"> <h1 ><font color=#ffffff>NPU Chat Website</font></h1></div>
            </div>
            <div class="item">
                <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-3.jpg)"> <h1 ><font color=#ffffff>NPU Chat Website</font></h1></div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"> </span>
        </a>
    </div>

<!--选择栏-->
<nav class="navbar navbar-inverse">
    <div class="6">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">主页</a></li>
                <li><a href="forum">论坛</a></li>
                <li><a href="chat">匿名群聊</a></li>
                <li><a href="zhuye">个人中心</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row" >
        <div class="col-md-5 well" style="margin: 20px" onclick="window.location.href='forum'" >
            <div class="row">
                <div class="col-md-8">
                    <img src="../../static/images/index-548.jpg" style="width:300px" >
                </div>
                <div class="cpl-md-3">
                    <h4 >论坛</h4>
                    <p>发帖-看帖-回复</p>
                    <p>拉近与同学的距离</p>
                    <button class="btn btn-primary">进入</button>
                </div>
            </div>
    <!--       <h2>论坛</h2>
            <p>发帖-看帖-回复</p>
            <p>拉近与同学的距离</p>-->
        </div>

        <div class="col-md-5 well"style="margin: 20px" onclick="window.location.href='chat'">
           <div class="row">
               <div class="col-md-3">
                    <h4>匿名群聊</h4>
                    <p>沟通聊天</p>
                    <p>进入聊天吧</p>
                   <button class="btn btn-primary">进入</button>
               </div>
               <div class="clo-md-8">
                   <img src="../../static/images/index-452.jpg" style="width:280px">
               </div>
           </div>
        </div>
    </div>
'</div>


<!--NPU 小屋-->
<div class="jumbotron text-center" style="margin-bottom:0">
    <div id="sectTwo">
        <div class="sectTwo">
            <h3>NPU小屋</h3>
            <div class="intro"><p>这里有每个NPUers都需要的生活小贴士</p></div>

            <div class="swiper-option2">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <a href="javascript:;" class="swiper-slide">
                            <div class="img"><img src="../../static/images/001.jpg" alt=""></div>							<div class="content">
                            <h4>军训小贴士</h4>
                            <p><i class="iconfont icon-badge"></i>萌新看过来！</p>
                            <div class="intro">
                                1、防晒霜
                                防晒霜是军训必须准备的东西。
                                2、合脚舒适的鞋垫。
                                在学校会发统一的鞋子，但是这些鞋子的底都非常薄。可自备鞋垫
                                3、防蚊虫叮咬的药剂。
                                驱蚊水也需要带着，军训的时间正好是炎热的夏末，也是蚊子猖獗之时。
                                4、少量治疗腹泻，中暑，夏日感冒的药品(防止校医药品不够)。
                                5、腰带。
                                6、带喉糖，军队里喊口号</div>
                        </div>
                        </a>
                        <a href="javascript:;" class="swiper-slide">
                            <div class="img"><img src="../../static/images/002.jpg" alt=""></div>							<div class="content">
                            <h4>生活小贴士</h4>
                            <p><i class="iconfont icon-badge"></i>NPUers看过来！</p>
                            <div class="intro">零食与饮料还是戒了吧，白开水跟水果才是你的明智之选，水果补充的维生素与白开水补充的水分，可以迅速修复你军训期间受伤的皮肤。
                                坚持锻炼身体与自习，别问我为什么，好处的真的很多，别在最青春的年纪做一只会刷剧玩手机的肥宅。花钱做到心里有数，买东西货比三家，花钱大手大脚会让你养成很不好的习惯，比如没有自制力，做人没规划等等
                            </div>
                        </div>
                        </a>
                        <a href="javascript:;" class="swiper-slide">
                            <div class="img"><img src="../../static/images/003.jpg" alt=""></div>							<div class="content">
                            <h4>学习小贴士</h4>
                            <p><i class="iconfont icon-badge"></i>学霸们看过来！</p>
                            <div class="intro">大一,打牢地基。观念上将“要我学”变为“我要学”,脚踏实地学好基础课程,特别是英语和计算机。在大规划下要做小计划,坚持每天记英语单词、练习口语,并从大一开始就坚定不移地学下去。根据自己的实际情况考虑是否修读双学位或辅修第二专业,并尽早做好资料准备。大一的学习任务相对轻松,可适当参加社团活动,担当一定的职务,提高自己的组织能力和交流技巧</div>
                        </div>
                        </a>



                        <!-- start 友情链接 -->
                        <div id="link">
                            <div class="link">
                                <span>友情链接：</span>
                                <div class="boxs"><a href="javascript:;">西北工业大学翱翔门户</a></div>
                                <div class="boxs"><a href="javascript:;">西北工业大学图书馆</a></div>
                            </div>
                        </div>
                        <!-- end 友情链接 -->

                        <footer>

                            <div id="footer">
                                <div class="footer">
                                    <dl>
                                        <dt>049-000-0000</dt>

                                        <dd>地址：陕西省西安市长安区西北工业大学</dd>

                                    </dl>
                                </div>
                            </div>
                            <div class="bottom">
                                <p><a href="#">NPU聊天室</a> 版权所有 2019-2024 </p>
                                <p></p>
                            </div>
                        </footer>



                        <!-- css -->
                        <style>
                            /* 手机端底部的  一键拨号  QQ号码 留言反馈*/
                            .mobileFooter{ display:none;}
                            @media screen and (max-width:768px){
                                body{padding-bottom: 81px;}
                                .mobileFooter{width: 100%;  display:block; display: flex; display: -webkit-flex; flex-wrap: nowrap; justify-content: space-between; align-items: center;  position: fixed;  left: 0; bottom: 0; z-index: 100; background-color: rgba(60, 55, 55, 0.9); }
                                .mobileFooter div {text-align: center; width: 33%;  padding: 18px 0 0px 0; height: 100%;  }
                                .mobileFooter div i{  font-size: 25px; color: #0c969e;  padding: 8px; background-color: #fff;  border-radius: 50%; -webkit-border-radius:50%; -o-border-radius:50%; }
                                .mobileFooter div h6{ font-size: 14px; color: #fff; line-height: 2;  margin-top: 10px;}
                            }
                        </style>

                        <!-- html -->



                        <script type="text/javascript" src="../../static/js/index.js"></script>



                        <div class="jumbotron text-center" style="margin-bottom:0">
                           <p>底部内容</p>
                              <p><a href="../../welcome/welcome.html">退出登录</a></p>
                         </div>

      </body>
</html>