<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="../../static/css/index-style.css" charset="utf-8" />
    <link rel="stylesheet"  type="text/css" href="../../static/css/bootstrap.min.css"  charset="utf-8" />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<!--滑动框-->
    <div id="myCarousel" class=" carousel slide   "  >

        <ol class="carousel-indicators" >
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner " >
            <div class="item active " >
                <div  class="jumbotron text-center" style=" width:100%;height:100%;background:url(../../static/images/index-1.png)" > <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
            </div>
            <div class="item">
                <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-2.png)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
            </div>
            <div class="item">
                <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-3.jpg)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
            </div>
        </div>

        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only"> </span>
        </a>
    </div>

<!--选择栏-->
<nav class="navbar navbar-inverse">
    <div class="6">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">主页</a></li>
                <li><a href="forum.html">论坛</a></li>
                <li><a href="chat-index.html">匿名群聊</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row" >
        <div class="col-md-5 well" style="margin: 20px" onclick="window.open('forum.html')" >
            <div class="row">
                <div class="col-md-8">
                    <img src="../../static/images/index-548.jpg" style="width:300px" >
                </div>
                <div class="cpl-md-3">
                    <h4 >论坛</h4>
                    <p>发帖-看帖-回复</p>
                    <p>拉近与同学的距离</p>
                    <button class="btn btn-primary">进入</button>
                </div>
            </div>
    <!--       <h2>论坛</h2>
            <p>发帖-看帖-回复</p>
            <p>拉近与同学的距离</p>-->
        </div>

        <div class="col-md-5 well"style="margin: 20px" onclick="window.open('chat-index.html')">
           <div class="row">
               <div class="col-md-3">
                    <h4>匿名群聊</h4>
                    <p>沟通聊天</p>
                    <p>进入聊天吧</p>
                   <button class="btn btn-primary">进入</button>
               </div>
               <div class="clo-md-8">
                   <img src="../../static/images/index-452.jpg" style="width:280px">
               </div>
           </div>
        </div>
    </div>
'</div>

<div class="jumbotron text-center" style="margin-bottom:0">
    <p>底部内容</p>
<p><a href="../../welcome/welcome.html">退出登录</a></p>
</div>
    
</body>
</html>