<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>个人中心</title>
    <link  rel="stylesheet" href="../../static/bootstrap/css/bootstrap.css" type="text/css" charset="utf-8">
    <link   rel="stylesheet" href="../../static/css/blog.css" type="text/css" charset="utf-8">
  </head>
  <body>
    <div class="blog-masthead">
      <div class="container">
        
      </div>
    </div>
	<div class="intr">
    	<span class="avtar"></span>
        <p class="peointr">Hi！XXX</p>
        <p class="peointr">欢迎进入你的专属个人主页</p>
    </div>
    <div class="title" id="part1">爱生活</div>
    <div class="content">
    	<div class="pic pic1">
    		<img src="../static/images/h1.jpg" alt="">
    		
    	</div>
    	<div class="pic pic2">
    		<img src="../static/images/h2.jpg" alt="">
    		
    	</div>
    	<div class="pic pic3">
    		<img src="../static/images/h3.jpg" alt="">
    		
    	</div>
    </div>
	<div class="title" id="part3">爱技术</div>
    <div class="content">
        <ul class="nav nav-tabs" role="tablist">
          <li class="active"><a href="#home" role="tab" data-toggle="tab">公诚勇毅</a></li>
          
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="home">
          <p class="text">公为天下、报效祖国</p>
            <p class="text">诚实守信、襟怀坦荡</p>
            <p class="text">勇猛精进、敢为人先</p>
            <p class="text">毅然果决、坚韧不拔</p>
          	<p class="text">我就读于西北工业大学软件学院软件工程专业</p>
            <p class="text">这个专业让我认识到自己的兴趣所在</p>
            <p class="text">愿今后继续做前端 做技术的狂热者</p>
          
          	<p class="text">作为一个最初掌握的技术</p>
            <p class="text">在很长的一段时间  我都用它来开发web,开发应用程序</p>
            <p class="text">愿今后可以继续研究它</p>
            
          </div>
         
        </div>
    </div>
    <div class="blog-footer">
      <p>by <a href="http://sx.youths.cc">NPU聊天室</a>.</p>
    </div>
    
    <script src="../static/js/jquery-1.9.1.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.js"></script>
    <script src="../static/js/plugin.js"></script>

  </body>
</html>
