<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>论坛</title>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="stylesheet"  type="text/css" href="/../static/css/index-style.css"  charset="utf-8"/>
    <link rel="stylesheet"  type="text/css" href="/../static/css/bootstrap.min.css"  charset="utf-8"/>
    <link rel='stylesheet' id='main-css-css'  href='/../static/css/main5152.css' type='text/css' media='all' />
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/forum.js"></script>

    <style type="text/css">
        .s li{   background-color: #ffffff;   padding: 10px 16px; border: solid 1px #D9D9D9;  float: left;   list-style: none;   color:#FFFFFF; }
        #thread_types{padding-left: 150px;}
    </style>
</head>
<body>
<div id="myCarousel" class=" carousel slide   "  >

    <ol class="carousel-indicators" >
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner " >
        <div class="item active " >
            <div  class="jumbotron text-center" style=" width:100%;height:100%;background:url(../../static/images/index-1.png)" > <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
        <div class="item">
            <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-2.png)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
        <div class="item">
            <div class="jumbotron text-center"style=" width:100%;height:100%;background:url(../../static/images/index-3.jpg)"> <h1 ><font color=#fff>NPU Chat Website</font></h1></div>
        </div>
    </div>

    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only"> </span>
    </a>
</div>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li ><a href="index">主页</a></li>
                <li class="active"><a href="forum">论坛</a></li>
                <li><a href="chat">匿名群聊</a></li>
            </ul>
        </div>
    </div>
</nav>
	<hr>
	
	<div id="postdiv">
	<!--标题-->
	<div id="title" style="width: 100%" align="center">
		<div style="width: 50%"><p style="font-size: 30px;float: left;padding-top: 10px;color: #3A3A3A">标题:</p></div>
		<div style="width: 50%"><textarea maxlength="20" rows="1" required style="width: 800px;font-size: 30px"></textarea></div>
		</div>
	<!--正文-->
	<div id="textdiv" style="width: 100%" align="center">
		<div style="width: 50%"><p style="font-size: 30px;float: left;padding-top: 10px;color: #3A3A3A">正文:</p></div>
		<div style="width: 50%"><textarea maxlength="1000" rows="12" required style="width: 800px;font-size: 15px"></textarea></div>
		</div>
	<!--标签-->
		<br>
	<div id="tagdiv" align="center">
		<div align="center"><p style="display: inline;font-size: 20px">请选择标签:</p><p id="tag" style="display: inline;font-size: 20px"></p></div>
		<button class="tag" id="ziyuan" value="校园资源">校园资源</button><button class="tag" id="yule" value="休闲娱乐">休闲娱乐</button><button class="tag" id="tucao" value="校园吐槽">校园吐槽</button><button class="tag" id="qiuzhu" value="校园求助">校园求助</button><button class="tag" id="jiaoyou" value="校园交友">校园交友</button>
		<script>
			var $tag=$("#tag");
			$(function () {
            //按钮点击事件
            $(".tag").click(function () {
                var node =$(this).val();
                $("#tag").html(node);
            });
        });
		</script>
		</div>
		<br>
		<div id="postbutton" align="center">
		<input type="button" value="发表" style="width: 180px; height: 80px;font-size: 23px; background:#439EFF;color: #FFFFFF">
		</div>
	</div>
</body>
</html>
