<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script>
        function  signin1() {

            var moodMessageContent=$('#moodMessageContent').val();
            var pageName=$('#pageName').val();
            var answerer=$('#answerer').val();
            $.ajax({
                type:"POST",
                url:"/publishMoodMessage?"+"moodMessageContent="+moodMessageContent+"&pageName="+pageName+"&answerer="+answerer,
                data:{},
                datatype:"string",
                success:function(data){
                    //window.location.href='index';
                    var status = data.status;
                    alert(data.pageName);
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            })
        }

    </script>
</head>
<body>
<input id="moodMessageContent" type="text"/><br>
<input id="pageName" type="text"/><br>
<input id="answerer" type="text"/><br>
<button onclick="signin1()">提交</button>
<span id="tip"></span>

</body>
</html>