<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/sign-up.js"></script>
    <script src="../jquery-3.4.1/jquery-3.4.1.js"></script>
    <script>

        function  signup() {

            var userName=$('#username').val();
            var password=$('#password').val();
            var gender=$('#gender').val();

            $.ajax({
                type:"POST",
                url:"/regist?password="+password+"&gender="+gender+"&userName="+userName,
                data:{},
                datatype:"string",
                success:function(){
                    alert("success");
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            })
        }

    </script>
</head>
<body>
     <input id="username" type="text"/>
     <input id="gender" type="text"/>
     <input id="password" type="text"/>
     <button onclick="signup()">提交</button>

</body>
</html>