+<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery-3.4.1/jquery-3.4.1.js"></script>
    <script>
        function  signin1() {

            var userName=$('#username').val();
            var password=$('#password').val();


            $.ajax({
                type:"POST",
                url:"/login?userName="+userName+"&password="+password,
                data:{},
                datatype:"string",
                success:function(data){
                    window.location.href='index';
                },
                error:function(XMLHttpRequest, textStatus, errorThrown) {
                    alert(XMLHttpRequest.responseText);
                }
            })
        }

    </script>
</head>
<body>
<input id="username" type="text"/>

<input id="password" type="text"/>
<button onclick="signin1()">提交</button>
<span id="tip"></span>

</body>
</html>