<!DOCTYPE html>
<!--<html lang="en">-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>

<div id="select-page">
    <select>

        <option value ="volvo">多人群聊</option>

        <option value ="saab">心情发布</option>

        <option value="opel">缘分匹配</option>

        <option value="audi">资源分享</option>

    </select>
</div>

<a href="localhost/moodplaza/">

    <button>点我跳转到多人群聊！</button>
</a>
<a href="javascript:location.reload()">重载页面，本地刷新</a>
<button onclick="window.location.href = 'localhost:8080/manyman/'">
    点我跳转到多人群聊！
</button>
<a href="localhost/baiduYunPan" target="_blank">"跳转到群聊"<button>Click here</button></a>


<h1>This is the home</h1>
</body>
</html>