<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script typet="text/javascript" src="http://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $("button").click(function(){

                // var data = {"pageName" : happyday,
                //     "answerer" : greatke};

                $.ajax({
                    url:"/getPageMoodMessage",//"/getPageMoodMessage",http://localhost

                    dataType: "json",
                    type: "GET",
                    contentType: 'application/json',
                    data: {"pageName" : 'happyday',
                             "answerer" : 'greatke'},

                    success: function(result) {  //这里就是我出错的地方
                        alert("请求成功")
                        // alert(result.msg);

                    },
                    // error: function(data) {
                    //     alert("请求出错");
                    //     // alert(data);
                    // }

                    error:function(XMLHttpRequest, textStatus, errorThrown) {
                        alert(XMLHttpRequest.status);
                        alert(XMLHttpRequest.readyState);
                        alert(textStatus);
                    }

                });

                $("p").hide();

            });
        });
    </script>
    <!--<script>-->
        <!--$(document).ready(function () {-->
            <!--$("button").click(function(){-->
            <!--$.get("/getPageMoodMessage",{pageName:'happyday',answerer:'greatke',},function(data,state){-->

                <!--//这里显示从服务器返回的数据-->
                <!--alert(data);-->
                <!--//这里显示返回的状态-->
                <!--if(state == 'ok'){-->
                    <!--alert("返回数据成功");-->
                <!--}else{-->
                    <!--alert("返回数据失败");-->
                <!--}-->
            <!--});-->
            <!--})-->


        <!--});-->

    <!--</script>-->
    <!--<script type="text/javascript">-->

        <!--$("button").click(function() {-->
            <!--// var formData = $("#loginForm").serialize();-->
            <!--// console.log(formData);-->
            <!--// alert(formData);-->
            <!--$.ajax({-->
                <!--url: "127.0.0.1/getPageMoodMessage",-->

                <!--dataType: "json",-->
                <!--type: "get",-->
                <!--data: {pageName:'happyday',answerer:'greatke',},-->

                <!--success: function(result) {  //这里就是我出错的地方-->
                    <!--alert(result.msg);-->
                <!--},-->
                <!--error: function(data) {-->
                    <!--alert("请求出错");-->
                    <!--alert(data);-->
                <!--}-->
            <!--});-->
        <!--});-->
    <!--</script>-->

</head>

<body>
<h2>这是标题</h2>
<p>这是一个段落。</p>
<p>这是另一个段落。</p>
<button>点击这里</button>
</body>
</html>
